<html>
  <body>
    <h1 mc:edit="header">Welcome, *|USER_NAME|*!</h1>
    <hr/><br><br>
    <div mc:edit="main_section">Welcome to IdeaBoard</div>
    <hr/>
    <div mc:edit="footer">Goodbye</div>
  </body>
</html>
