<div class="row">
  <div class="large-3 columns groups-column">
    <div class="panel">
      <h3>Your Groups</h3>

      <div class="groups-container section-container vertical-nav">
        <ul class="groups">
          <% @groups.each do |group| %>
          <li><%= link_to group.name, group %></li>
          <% end %>
        </ul>
      </div>
      <ul>
        <%= link_to "Create New Group", new_group_path, :class => "button tiny radius" %>
      </ul>
    </div>
  </div>
</div>
