<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav>
          <ul>
            <li>
              <span class="copy">© 2015 IdeaBoard</span>
              <a href="/about">About</a>
              <a href="mailto:nicknarh@gmail.com">Contact</a>
              <a href="/privacy">Privacy</a>
              <a href="/terms">Terms</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
