<h2>
  Why Create IdeaBoard?
</h2>

<p>
  Have you ever had an idea but were too scared to even bring it up for fear of being shut down? How about just being able to come up with something "unique" and "innovative"?
</p>

<p>
  Well, we have all been there, and wouldn't it be great if you could get instant feedback on these ideas without worrying about what others will think? Well this is why IdeaBoard was created. It is a collaborative idea sharing environment where real people can share real ideas. Simple.
</p>

