<div class="left">
    <h2>Welcome to Idea-Board</h2>
    <p>Idea board is a collaborative idea sharing application, by developers for developers.</p>
</div>

  <div class="form medium-3 columns">
    <%= render "sign_in" %>
  </div>
  <div class="form medium-3 columns" >
    <%= render "sign_up", user: @user %>
  </div>
