* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

$white: #FFF;
$nav-color: #8695D1;

.navigation {
  background: $nav-color; 
  text-align: center;

  a {
    padding: 10px;
    display: inline-block;
    color: $white;


    &:hover {
      background: $white; 
      color: $nav-color; 
    }
  }
}

.half-width {
  width: 50%;
  float: left;
  padding: 50px;
}

.btn {
  background-color: #ccd6dd;
  background-repeat: no-repeat;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  color: #66757f;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  padding: 8px 16px;
  position: relative;
}

.form {
  background: $nav-color;
  padding: 10px;
  margin-bottom: 10px;

  input[type="text"], input[type="email"], input[type="password"] {
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
  }

  label {
    display: block;
  }

  .btn {
    background-color: #ffac33;
    background-image: linear-gradient(#ffcc4d,#ffac33);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
    border-color: #f1a02a;
    color: #292f33;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    &:hover {
      background-color: #e99110;
      background-image: linear-gradient(#ffcc4d,#e99110);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#e99110, GradientType=0)";
      border-color: #ec8b11;
      color: #292f33;
    }
  }
}
