<div class="form">
  <h2>Search Ideas<h2>

      <div class= "form medium-9 column">
        <%= form_tag(search_path, method: :get) do %>
            <%= search_field_tag :query, nil, placeholder: "Search Ideas" %>
            <%= submit_tag "Search", :class => "button" %>
        <% end %>
      </div>
    </div>
